.content-info {
  .container-fluid {
    width: 82%;
  }
  background-color: $brand-primary;
  padding: 70px 0;
}

.content-info h3 {
  color: white;
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.footer-link {
  position: absolute;
  bottom: 30px;
  color: white;
  @include media-breakpoint-down(sm) {
    position: relative;
    bottom: initial;
  }
}

textarea {
  height: 278px;
}

#app {
  padding-top: 1px;
  .col-xs-12 {
    padding: 0;
  }
}
