.banner>.container {
  display: flex;
}

.brand {
  position: absolute;
  top: 72px;
  left: 135px;
  width: 409px;
  height: 70px;
  @include media-breakpoint-down(sm) {
    top: 50px;
    width: 500px;
    left: 0;
  }
  @include media-breakpoint-down(xs) {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  h1 {
    height: 36px;
    width: 409px;
    color: black;
    font-size: 36px;
    line-height: 43px;
    @include media-breakpoint-down(sm) {
      font-size: 40px;
      width: 100%;
      margin:0;
      margin-bottom: 15px;
    }
    @include media-breakpoint-down(xs) {
      font-size: 20px;
    }
  }
  p {
    height: 18px;
    width: 360px;
    color: #9B9B9B;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 15px;
    font-weight: 600;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
      margin: 0;
      width: 100%;
    }
    @include media-breakpoint-down(xs) {
      font-size: 15px;
    }
  }
}

.nav-primary {
  position: absolute;
  top: 115px;
  right: 131.5px;
  @media (max-width: 1399px) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    top: 115px;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
}

header.banner {
  height: 100px;
  margin: 40px;
  @include media-breakpoint-down(sm) {
    position: relative;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  text-align: center;
  @include media-breakpoint-down(sm) {
    margin: 0;
    width: 100%;
  }
}

nav ul li {
  display: inline-block;
  text-align: center;
  margin-right: 38px;
  height: 21px;
  width: auto;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  @include media-breakpoint-down(sm) {
    margin-right: 10px;
  }
}

.page-header {
  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }
  .attachment-featured-image {
    width: 100%;
    height: auto;
    @include media-breakpoint-down(sm) {
      width: 200%;
      height: 100%;
    }
  }
}

.lang {
  display: flex;
  flex-direction: row;
  width: 70px;
  justify-content: space-around;
  position: absolute;
  top: 75px;
  right: 165px;
  @media (max-width: 1399px) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  p {
    margin: 0;
  }
  .de,
  .char,
  .en {
    font-weight: bold;
  }
  .char,
  .en {
    color: lightgray;
  }
}
