$color-background: #F5F5F5;
$color-main: rgba(67, 168, 193, 1);
$color-active: #FFF;
$color-link: #FFF;
.banner>.container {
  display: flex;
  @media (max-width: 1399px) {
    padding: 0;
  }
}

.noScroll {
  overflow: hidden;
}

.nav-mobile {
  display: none;
  
  @media (max-width: 1399px) {
    position: absolute;
    top: 3%;
    right: 2%;
    display: block;
    width: 50px;
    height: 50px;
    body {
      background: $color-background;
    }
    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 40%;
      left: 0;
      margin: 0 auto;
      font-family: 'Varela Round', sans-serif;
      p {
        font-size: 20px;
      }
      a {
        display: inline-block;
        position: relative;
        text-align: center;
        color: $color-main;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        top: 5px;
        &:after {
          content: '';
          position: absolute;
          background: $color-main;
          height: 2px;
          width: 0%;
          transform: translateX(-50%);
          left: 50%;
          bottom: 0;
          transition: .35s ease;
        }
        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }
      }
    }
    h1 {
      position: relative;
      text-align: center;
      font-family: 'Varela Round', serif;
    }
    .button_container {
      height: 100%;
      width: 100%;
      cursor: pointer;
      z-index: 100;
      transition: opacity .25s ease;
      &:hover {
        opacity: .7;
      }
      &.active {
        .top {
          transform: translateY(18px) translateX(0) rotate(45deg);
          background: $color-active;
        }
        .middle {
          opacity: 0;
          background: $color-active;
        }
        .bottom {
          transform: translateY(-12px) translateX(0) rotate(-45deg);
          background: $color-active;
        }
      }
      span {
        background: $color-main;
        border: none;
        height: 8px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
        &:nth-of-type(2) {
          top: 15px;
        }
        &:nth-of-type(3) {
          top: 30px;
        }
      }
    }
    .overlay {
      position: fixed;
      background: $color-main;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden;
      &.open {
        opacity: .9;
        visibility: visible;
        height: 100vh;
        li {
          animation: fadeInRight .5s ease forwards;
          animation-delay: .35s;
          display: flex;
          align-items: center;
          margin: 0;
          padding-bottom: 15px;
          margin-bottom: 10px;
          &:nth-of-type(2) {
            animation-delay: .4s;
          }
          &:nth-of-type(3) {
            animation-delay: .45s;
          }
          &:nth-of-type(4) {
            animation-delay: .50s;
          }
        }
      }
      nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Varela Round', serif;
        font-weight: 400;
        text-align: center;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        margin-top: 0;
        transform: translateY(100%);
        position: relative;
        height: 90%;
        li {
          display: block;
          height: 25%;
          height: calc(100% / 4);
          min-height: 50px;
          position: relative;
          opacity: 0;
          a {
            display: block;
            position: relative;
            color: $color-link;
            text-decoration: none;
            font-size: 45px;
            padding-bottom: 20px;
            &:hover:after,
            &:focus:after,
            &:active:after {
              width: 100%;
            }
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0%;
              transform: translateX(-50%);
              height: 3px;
              background: $color-link;
              transition: .35s;
            }
          }
        }
      }
    }
    @keyframes fadeInRight {
      0% {
        opacity: 0;
        left: 20%;
      }
      100% {
        opacity: 1;
        left: 0;
      }
    }
  }
}
