.container-fluid {
  .page-header {
    margin-bottom: 98px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
  }
}

.wp-page {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
  >.container {
    padding: 0;
    width: 50%;
    @include media-breakpoint-down(sm) {
      width: 70%;
    }
    header {
      .entry-title {
        height: 40px;
        width: 571.25px;
        color: #0B353E;
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 48px;
        margin-bottom: 33px;
        @include media-breakpoint-down(sm) {
          font-size: 40px;
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
    .entry-content {
      p {
        width: 100%;
        color: #000000;
        font-size: 18px;
        line-height: 28px;
        &:last-child {
          margin-bottom: 84px;
          @include media-breakpoint-down(sm) {
            margin-bottom: 50px;
          }
        }
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          width: 100%;
          line-height: 1.5;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}

.home-images {
  .row {
    margin: 0;
    .col-md-12 {
      padding: 0;
      .row {
        &:first-child {
          margin-bottom: 12px;
          @include media-breakpoint-down(sm) {
            margin: 0;
          }
        }
        &:last-child {
          margin-bottom: 12px;
          @include media-breakpoint-down(sm) {
            margin: 0;
          }
        }
        .col-md-4 {
          &:nth-child(1) {
            padding-left: 0;
            @include media-breakpoint-down(sm) {
              padding: 0;
            }
          }
          &:nth-child(2) {
            padding: 0;
          }
          &:nth-child(3) {
            padding-right: 0;
            @include media-breakpoint-down(sm) {
              padding: 0;
            }
          }
          img {
            width: 100%;
            height: 514px;
            @include media-breakpoint-down(sm) {
              height: auto;
            }
          }
        }
        .col-md-6 {
          &:nth-child(1) {
            padding-left: 0;
            padding-right: 8px;
            @include media-breakpoint-down(sm) {
              padding: 0;
            }
          }
          &:nth-child(2) {
            padding-right: 0;
            padding-left: 8px;
            @include media-breakpoint-down(sm) {
              padding: 0;
            }
          }
          img {
            width: 100%;
            height: 450px;
          }
        }
      }
    }
  }
}

.carousel {
  margin-bottom: 100px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 50px;
  }
  .carousel-header {
    margin-bottom: 32px;
  }
  .main-carousel {
    .carousel-cell {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
      background: transparent;
      @include media-breakpoint-down(sm) {
        width: 50px;
        height: 50px;
      }
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    .flickity-prev-next-button .arrow {
      fill: darkgrey;
      @include media-breakpoint-down(sm) {
        fill: white;
      }
    }
    .flickity-prev-next-button.no-svg {
      color: darkgrey;
      @include media-breakpoint-down(sm) {
        color: white;
      }
    }
    .flickity-prev-next-button.previous {
      left: -100px;
      @include media-breakpoint-down(sm) {
        left: 0;
      }
    }
    .flickity-prev-next-button.next {
      right: -100px;
      @include media-breakpoint-down(sm) {
        right: 0;
      }
    }
  }
  .nav-carousel {
    margin-top: 8px;
    .carousel-cell {
      width: 140px;
      height: 88px;
      margin-right: 5px;
      margin-left: 5px;
      img {
        width: 100%;
      }
    }
  }
}

iframe {
  margin-top: 20px;
}

.background-image {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  filter: blur(5px);
  margin: -5px;
  @include media-breakpoint-down(sm) {
    height: 1000px;
  }
}

.full-bleed.prices {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  .container {
    height: 100%;
    .row {
      height: 100%;
      .col-md-4.price {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }
        .content-wrapper {
          background-color: rgba(78, 163, 180, .8);
          padding: 30px 0;
          color: white;
          width: 95%;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
          p {
            margin-bottom: 2px;
            font-weight: 300;
          }
          hr {
            width: 80%;
          }
        }
      }
    }
  }
}

.hentry {
  .imprint-content {
    margin-bottom: 20px;
    .first {
      font-weight: bold;
    }
    p {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 5px !important;
      }
    }
  }
  .data-protection {
    font-size: 30px !important;
    margin-top: 50px;
    margin-bottom: 40px;
  }
}
